@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@900&display=swap');

/* Versão Mobile First */
body{
    font-family: Open Sans;
    font-size: 14px;
}

header{
    width: 100vw;
}

nav{
    width: 100vw;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:nth-child(2){ /*logo do instagram*/
    margin: 17px 0px 8px 0px;
}

#logo{
    width: 103px;
}

.icon-nav{
    margin: 0px 10px;
}

u{
    text-decoration: none;
    font-weight: bolder;
}
section#stories{
    background-color: rgba(250, 235, 215, 0);
    width: 100vw;
    height: 85px;

    display: flex;
    align-items: center;
    
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

main{
    height: 100px;
    width: 100vw;
}

a.story-perfil{
    text-decoration: none;
}

img.img-story{
    border-radius: 50%;
    margin: 5px 0px;
    width: 56px;
    cursor: pointer;
    margin: 0px 5px;
}

div.background-story{
    height: 56px;
    background: url(../imagens/stories_background.jpg);
    background-size: 64.4px;
    background-repeat: no-repeat;
    background-position: center center;
}
#arrow-story{
    display: none;
}

section#feed{
    width: 100vw;
}

div.pub{

    position: relative;
}

div.profile-autor-pub{
    height: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.profile-autor-pub > img{
    width: 32px;
    border-radius: 50%;
}

div.profile-autor-pub :nth-child(1), div.profile-autor-pub :nth-child(2){
    margin: 0px 10px;
}

.material-icons{
    cursor: pointer;
}

.autor-pub-name{
    position: absolute;
    top: 18px;
    left: 55px;
}

.img-pub{
    width: 100%;
}

div.social-stats{
    height: 76px;
}
div.reactions{
    margin: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

div.right-icons > img{
    cursor: pointer;
}
img.reactions-icons{
    margin: 0px 5px;
    cursor: pointer;
}

div.liked-by{
    position: relative;
    margin: 10px;
}

.text-side-profile{
    position: absolute;
    top: 3px;
    left: 25px;
}

hr.line-up-post{
    margin: 0;
}

hr.line-down-post{
    margin-bottom: 60px;
}

img.nav-icon{
    cursor: pointer;
    margin: 0px 15px;
}

#navigation-mobile{
    background-color: #DBDBDB;
    position: fixed;
    bottom: 0;
}