@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@900&display=swap');

/* Versão Mobile First */
@media screen and (max-width: 612px ){
        
    p.auto-story-name, hr#line-tablet-up, section#sugest-profile{
        display: none;
    }

    body{
        font-family: Open Sans;
        font-size: 14px;
    }

    header{
        width: 100vw;
    }

    nav{
        width: 100vw;
        height: 54px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a:nth-child(2){ /*logo do instagram*/
        margin: 17px 0px 8px 0px;
    }

    nav#tablet-nav-top{
        display: none;
    }
    #logo{
        width: 103px;
    }

    .icon-nav{
        margin: 0px 10px;
    }

    u{
        text-decoration: none;
        font-weight: bolder;
    }

    main{
        height: 100px;
        width: 100vw;
    }

    a.story-perfil{
        text-decoration: none;
    }
    section#stories{
        background-color: transparent;
        margin: auto;
        height: 118px;
        width: 100vw;

        display: flex;
        align-items: center;

        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.171);
        border-radius: 3px;
    }

    .img-story{
        height: 56px;
        width: 55px;
        padding: 5px;
        background: url(../imagens/stories_background.jpg);
        background-repeat: no-repeat;
        background-size: 64px;
        background-position: center center;
    }
    .p{
        height: 19px;
        width: 70px;
        text-align: center;
    }
    .p > p {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .background-story > .img-story > img{
        width: 56px;
        border-radius: 50%;
    }

    .background-story{
        background-color:transparent;
    }

    #arrow-story{
        display: none;
    }

    section#feed{
        width: 100vw;
    }

    div.pub{
        position: relative;
    }

    div.publication > video{
        background-color: black;
        width: 100%;
    }
    
    div.profile-autor-pub{
        height: 52px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.profile-autor-pub > img{
        width: 32px;
        border-radius: 50%;
    }

    div.profile-autor-pub :nth-child(1), div.profile-autor-pub :nth-child(2){
        margin: 0px 10px;
    }

    .material-icons{
        cursor: pointer;
    }

    .autor-pub-name{
        position: absolute;
        top: 18px;
        left: 55px;
    }

    .img-pub{
        width: 100%;
    }

    div.social-stats{
        height: 76px;
    }
    div.reactions{
        margin: 10px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    div.right-icons > img{
        cursor: pointer;
    }
    img.reactions-icons{
        margin: 0px 5px;
        cursor: pointer;
    }

    div.liked-by{
        position: relative;
        margin: 10px;
    }

    .text-side-profile{
        position: absolute;
        top: 3px;
        left: 25px;
    }

    hr.line-up-post{
        margin: 0;
    }

    hr.line-down-post{
        margin-bottom: 60px;
    }

    img.nav-icon{
        cursor: pointer;
        margin: 0px 15px;
    }

    #navigation-mobile{
        background-color: #DBDBDB;
        position: fixed;
        bottom: 0;
    }
} 